In [1]:
import pandas as pd

In [31]:
df = pd.read_excel("estimativa_dou_2020.xls", sheet_name="Municípios")
df = df[["Unnamed: 1", "Unnamed: 2", "Unnamed: 4"]]

df.columns = ["mun","code", "pop"]


df["code"] = df["code"].astype(str)
df["mun"] = df["mun"].astype(str)

df["code"] = df["mun"] + df["code"]

df

          mun               code                 pop
0     COD. UF  COD. UFCOD. MUNIC  POPULAÇÃO ESTIMADA
1          11            1100015               22728
2          11            1100023              109523
3          11            1100031                5188
4          11            1100049               85893
...       ...                ...                 ...
5582      nan             nannan                 NaN
5583      nan             nannan                 NaN
5584      nan             nannan                 NaN
5585      nan             nannan                 NaN
5586      nan             nannan                 NaN

[5587 rows x 3 columns]

In [32]:
from wikidata2df import wikidata2df

q = """
SELECT ?item ?itemLabel ?code
WHERE 
{
  ?item wdt:P31 wd:Q3184121.
  ?item wdt:P1585 ?code
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
"""


df_ref = wikidata2df(q)

In [33]:
df_ref["code"]

0       1505106
1       5101803
2       4320263
3       2200202
4       3520103
         ...
5563    2510907
5564    2612505
5565    2104701
5566    2109007
5567    5007976
Name: code, Length: 5568, dtype: object

In [34]:
df["code"]

0       COD. UFCOD. MUNIC
1                 1100015
2                 1100023
3                 1100031
4                 1100049
              ...
5582               nannan
5583               nannan
5584               nannan
5585               nannan
5586               nannan
Name: code, Length: 5587, dtype: object

In [37]:
df = df_ref.merge(df)
df.head()

         itemLabel     code     item mun    pop
0           Óbidos  1505106  Q577167  15  52306
1  Barra do Garças  5101803  Q577720  51  61135
2          Segredo  4320263  Q577838  43   7444
3      Água Branca  2200202  Q578114  22  17470
4        Igarapava  3520103  Q578124  35  30614

In [44]:
with open("ibge.qs", "w+") as f:

    for i, row in df.iterrows():
        s = row["item"]
        p = "|P1082|"
        o = f'{row["pop"]}'
        q1 = "|P585|"
        oq1 = "+2020-07-01T00:00:00Z/11"
        q2 = "|P459|"
        oq2 = "Q791801"
        r1 = "|S854|"
        or1 = '"https://www.ibge.gov.br/estatisticas/sociais/populacao/9103-estimativas-de-populacao.html"'

        f.write(s + p + o + q1 + oq1 + q2 + oq2 + r1 + or1 + "\n")

In [ ]:
df_ref